---
import Image from "./Image.astro";
import config from "@/config/config.json";
const { src } = Astro.props;
const {
  logo,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_width: any;
  logo_height: any;
  logo_text: string;
  title: string;
} = config.site;

const logoUuid = src ? src : logo;
---

<a href="/" class="navbar-brand inline-block w-auto flex items-center relative">
  <img class="w-auto mx-auto h-16 lg:mx-0" src="/images/logo.png" alt="" />
</a>
<p class="font-tertiary ml-4">Bobcat</p>

<script>
  const logoContainer = document.getElementById("logo-container");
  const logo = document.getElementById("logo");
  const logoText = document.getElementById("logo-text");
  const lgBreakpoint = 1024; // Tailwind's default lg breakpoint

  function updateLogoText() {
    if (window.innerWidth < lgBreakpoint) {
      if (logoText && logoContainer) {
        const logoWidth = logoContainer.offsetWidth;
        logoText.style.transform = `translateX(-${logoWidth}px)`;
        logoText.style.opacity = "0";
      }
    } else {
      if (logoText) {
        logoText.style.transform = "translateX(0)";
        logoText.style.opacity = "1";
      }
    }
  }

  window.addEventListener("resize", updateLogoText);
  // Run once on load to set initial state
  updateLogoText();
</script>
