---
import { Image } from "astro:assets";
import config from "@/config/config.json";
const { src } = Astro.props;
const {
  logo,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_width: any;
  logo_height: any;
  logo_text: string;
  title: string;
} = config.site;
---

<a href="/" class="navbar-brand block w-auto flex items-center relative">
  <div id="logo-container" class="relative z-10">
    {
      src || logo ? (
        <Image
          width={logo_width.replace("px", "") * 2}
          height={logo_height.replace("px", "") * 2}
          src={src ? src : logo}
          id="logo"
          alt={title}
          style={{
            height: logo_height.replace("px", "") + "px",
            width: logo_width.replace("px", "") + "px",
          }}
        />
      ) : logo_text ? (
        logo_text
      ) : (
        title
      )
    }
  </div>
  <span
    class="ml-2 font-tertiary text-4xl font-bold transition-all duration-300 ease-in-out text-black text-shadow-black-outline"
    id="logo-text"
  >
    BOBCAT
  </span>
</a>

<script>
  const logoContainer = document.getElementById("logo-container");
  const logo = document.getElementById("logo");
  const logoText = document.getElementById("logo-text");
  const lgBreakpoint = 1024; // Tailwind's default lg breakpoint

  function updateLogoText() {
    if (window.innerWidth < lgBreakpoint) {
      if (logoText && logoContainer) {
        const logoWidth = logoContainer.offsetWidth;
        logoText.style.transform = `translateX(-${logoWidth}px)`;
        logoText.style.opacity = "0";
      }
    } else {
      if (logoText) {
        logoText.style.transform = "translateX(0)";
        logoText.style.opacity = "1";
      }
    }
  }

  window.addEventListener("resize", updateLogoText);
  // Run once on load to set initial state
  updateLogoText();
</script>
