---
import Base from "@/layouts/Base.astro";
import ResponsiveImage from "@/layouts/components/Image.astro";
---

<Base>
  <section class="py-10 bg-gray-50 sm:py-16 lg:py-24">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
      <div class="text-center">
        <div class="flex items-center justify-center">
          <h2
            class="text-3xl font-bold leading-tight text-black sm:text-4xl lg:text-5xl"
          >
            About us
          </h2>
        </div>
      </div>
      <div class="flex md:flex-nowrap flex-wrap mb-32 mt-32 w-full gap-8">
        <div class="w-full lg:w-1/2">
          <ResponsiveImage
            uuid="f85aa49e-547f-4aef-b916-7b7ba1af0710"
            alt="Sasoon Sarkisian"
          />
        </div>
        <div class="w-full lg:w-1/2">
          <h3
            class="text-midnight-teal font-bold font-heading max-w-xs lg:max-w-lg"
          >
            Hey, I'm Sas!
          </h3>
          <p class="mt-4 text-lg text-midnight-teal font-pj">
            I'm a professional developer with a decade of experience working
            with big organisations and gov departments. I've seen it all -
            managing huge, monolithic codebases, building fresh projects from
            the ground up (this is the fun part), sprucing up older sites,
            building integrations, you name it I've done it. I've worked in
            corporate, government and most recently NGOs, and still do so
            fulltime to this day.
          </p>
          <p class="mt-4 text-lg text-midnight-teal font-pj">
            Now I'm switching gears to help smaller businesses get online ASAP,
            with 0 headache and $0 upfront. To that end, I've created Bobcat - a
            full service web agency dedicated to giving smaller business the big
            business treatment. This includes implementing industry standards
            and best practices to bulletproof your site and ensure that it can
            scale with your business. Optimizing all images and assets to cut
            down load times. Even fixing obvious spelling errors and dead links
            to missing pages. Imagine how much flak a big company would get if
            they made these basic errors in their site. It might not have as big
            an impact to your business, but I hold my clients to that standard
            and treat them as if they are an enterprise company
          </p>
          <p class="mt-4 text-lg text-midnight-teal font-pj">
            Today the web is polluted with low quality sites cobbled together by
            cheap page builders and inexperienced developers.
          </p>
        </div>
      </div>
      <div
        class="border border-gray-200 bg-white rounded-3xl flex flex-wrap mb-32"
      >
        <div class="w-full md:w-1/2 lg:w-1/4 py-8">
          <div class="md:border-r border-gray-200 px-12">
            <p class="text-gray-600 mb-2 text-center">Compromises</p>
            <h2 class="text-4xl lg:text-5xl font-semibold text-center">0</h2>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 py-8">
          <div class="lg:border-r border-gray-200 px-12">
            <p class="text-gray-600 mb-2 text-center">Experience</p>
            <h2 class="text-4xl lg:text-5xl font-semibold text-center">
              10 Years
            </h2>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 py-8">
          <div class="md:border-r border-gray-200 px-12">
            <p class="text-gray-600 mb-2 text-center">Team members</p>
            <h2 class="text-4xl lg:text-5xl font-semibold text-center">110</h2>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 py-8">
          <div class="px-12">
            <p class="text-gray-600 mb-2 text-center">Nationalities</p>
            <h2 class="text-4xl lg:text-5xl font-semibold text-center">24</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
