---
import ResponsiveImage from "@/layouts/components/Image.astro";
---

<section class="py-12 bg-gray-100 sm:py-16 lg:py-20 xl:py-24 testimonial">
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
    <div
      class="grid items-start grid-cols-1 lg:grid-cols-2 gap-y-12 lg:gap-x-16 xl:gap-x-24"
    >
      <div>
        <a href="/" class="cs-link">
          <ResponsiveImage
            uuid="d9861f08-d16f-4082-b1e0-9fc3e70be85a"
            alt="Asbestos"
            sizes="sm:100vw md:50vw lg:33vw"
            className="w-full h-full object-cover transform hover:-rotate-2 transition-transform  rounded-lg shadow-md"
          />
        </a>
      </div>
      <div class="xl:pr-16">
        <div
          class="inline-flex hidden lg:flex items-center justify-center w-16 h-16 bg-blue-600 rounded-full"
        >
          <svg
            class="w-auto h-6 text-white"
            viewBox="0 0 43 35"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M42.28 34.3H26.04C24.4533 29.1667 23.66 23.8467 23.66 18.34C23.66 12.74 25.1067 8.30666 28 5.03999C30.9867 1.68 35.3733 0 41.16 0V7.84C36.4933 7.84 34.16 10.6867 34.16 16.38V19.04H42.28V34.3ZM18.62 34.3H2.38C0.793333 29.1667 0 23.8467 0 18.34C0 12.74 1.44667 8.30666 4.34 5.03999C7.32667 1.68 11.7133 0 17.5 0V7.84C12.8333 7.84 10.5 10.6867 10.5 16.38V19.04H18.62V34.3Z"
            ></path>
          </svg>
        </div>
        <blockquote class="mt-10">
          <p class="text-3xl font-normal leading-snug text-midnight-teal">
            "Working with Sas has been great. He was able to get my site and
            running ASAP, and we started getting leads from our contact form
            almost immediately! Highly recommended."
          </p>
        </blockquote>

        <div class="flex flex-wrap items-center gap-4 mt-6">
          <p class="text-base font-semibold text-midnight-teal">
            Alvart Apoyan
          </p>
          <p class="text-base font-normal text-gray-6000">
            Founder of
            <a href="https://voskimusicstudio.com.au" class="text-blue"
              >Voski Music Studio</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
